</div>
</div>

<script src="js/jquery.min.js"></script>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

<script src="js/main.js"></script>
</body>
</html>